.main {
  position: absolute;
  left: 170px;
  width: 100%;
  width: calc((100% - 170px));
}

.divider {
  height: 2px;
  background: linear-gradient(to right, transparent, #244d76, transparent);
  margin: 20px;
  border-radius: 2px;
}
