.side-menu {
  position: fixed;
  width: 149px;
  background-color: #eee;
  height: 100vh;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-item {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.menu-item-link {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}
